<header>
    <nav class="nav-drawer">
        <button id="sidenav-button" mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <ul id="options-list">
            <li class="dropdown">
                <a class="main-link" href="/dates">Dates</a>
            </li>
            <li class="dropdown">
                <a class="main-link" href="/food">Food</a>
            </li>
            <li class="combined-button">
                <a class="left-link" href="/movies">Movies</a>
                <a class="right-link" href="/series">Series</a>
            </li>
        </ul>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="isAdmin" mat-menu-item (click)="toAdmin()">
                <mat-icon fontIcon="settings"></mat-icon>
                <span>Admin</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon fontIcon="logout"></mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </nav>
</header>
