<header>
    <nav class="nav-drawer">
        <ul>
            <li class="dropdown">
                <a href="/dates">Dates</a>
            </li>
            <li class="dropdown">
                <a href="/food">Food</a>
            </li>
        </ul>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon fontIcon="logout"></mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </nav>
</header>
