<app-app-header></app-app-header>

<div class="dates-wrapper">
    <div class="date-interactions">
        <mat-toolbar>
            <mat-form-field>
            <mat-label>Sort by</mat-label>
            <mat-select (selectionChange)="sortData($event.value)">
                <mat-option value="title">Title</mat-option>
                <mat-option value="done">Done</mat-option>
                <mat-option value="costly">Price</mat-option>
            </mat-select>
            </mat-form-field>
        </mat-toolbar>
      <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
    </div>
    
    <div class="dates" *ngIf="data.length > 0; else noData">
        <div class="date" *ngFor="let item of data">
            <div class="date__header">
                <div class="date__header__title">
                    <h2>{{ item.title }}</h2>
                </div>
                <button mat-icon-button (click)="openEditDialog(item)" class="edit-button">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="date__content">
                <div class="date__content__description">
                    <p>{{ item.description }}</p>
                </div>
                <div class="extra-info">
                    <div class="div__content__costly">
                        <span *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{'active': i <= item.costly, 'inactive': i > item.costly}">€</span>
                    </div>
                    <div class="date__content__status">
                        <mat-icon [@changeState]="item.done ? 'expand_circle_down' : 'radio_button_unchecked'" (click)="toggleDone(item)" [ngClass]="{'checked': item.done}">
                            {{item.done ? 'expand_circle_down' : 'radio_button_unchecked'}}
                          </mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noData>
        <p>The database is in hibernation. Please contact the administrator of this website to re-enable it.</p>
    </ng-template>
</div>
<div *ngIf="!loaded">
    <p>Loading...</p>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="(!data || data.length === 0) && loaded">
    <p>No dates available.</p>
</div>