<div class="tv-wrapper" [ngClass]="{'expanded': isExpanded}">
  <div *ngIf="!isDeleted" class="date__header">
      <div class="date__header__title" (click)="toggleExpanded()">
          <h2>{{ item.title }}</h2>
      </div>
      <div class="buttons-container">
        <button mat-icon-button (click)="deleteTv(item)" class="delete button">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="isExpanded" (click)="toggleExpanded()" mat-icon-button class="close button">
            <mat-icon>close</mat-icon>
        </button>
      </div>
      
  </div>
  <div *ngIf="!isDeleted" class="date__content">
      <div class="date__content__info" [class.invisible]="!isExpanded">
          <img class="date__content__image" [src]="getBackgroundImage()" [class.invisible]="!isExpanded" loading="lazy">
          <div class="date__info__expanded" [class.invisible]="!isExpanded">
              <p [class.invisible]="!isExpanded" *ngIf="info">{{ info.Plot }}</p>
              <p [class.invisible]="!isExpanded" *ngIf="info">IMDb Rating: {{ info.imdbRating }}</p>
              <p [class.invisible]="!isExpanded" *ngIf="info">Released: {{ info.Released }}</p>
              <p [class.invisible]="!isExpanded" *ngIf="info">Genre: {{ info.Genre }}</p>
              <p [class.invisible]="!isExpanded" *ngIf="!isMovie && info">Seasons: {{ info.totalSeasons }}</p>
              <p [class.invisible]="!isExpanded" *ngIf="!isMovie && info">Runtime: {{ info.Runtime }}</p>
          </div>
      </div>
      
      <div class="extra-info">
          <div class="date__content__status">
              <mat-icon [@changeSeen]="item.seen ? 'expand_circle_down' : 'radio_button_unchecked'" (click)="toggleSeen(item)" [ngClass]="{'checked': item.seen}">
                  {{item.seen ? 'expand_circle_down' : 'radio_button_unchecked'}}
                </mat-icon>
          </div>
          <div class="date__content__liked">
              <mat-icon [@changeLiked]="item.liked ? 'expand_heart' : 'heart_unchecked'" (click)="toggleLike(item)" [ngClass]="{'liked': item.liked}">
                  {{item.liked ? 'favorite' : 'favorite_border'}}
              </mat-icon>
          </div>
      </div>
</div>