<div class="tv-wrapper" [ngClass]="{'expanded': isExpanded}">
  <div *ngIf="!isDeleted" class="date__header">
      <div class="date__header__title" (click)="toggleExpanded()">
          <h2>{{ item.title }}</h2>
      </div>
      <button mat-icon-button (click)="deleteTv(item)" class="delete-button">
          <mat-icon>delete</mat-icon>
      </button>
  </div>
  <div *ngIf="!isDeleted" class="date__content">
      <div class="date__content__info" [class.invisible]="!isExpanded">
          <img class="date__content__image" [src]="getBackgroundImage()" >
          <div class="date__info__expanded">
              <p>{{ info.Plot }}</p>
              <p>IMDb Rating: {{ info.imdbRating }}</p>
              <p>Released: {{ info.Released }}</p>
              <p>Genre: {{ info.Genre }}</p>
              <p *ngIf="!isMovie">Seasons: {{ info.totalSeasons }}</p>
              <p *ngIf="!isMovie">Runtime: {{ info.Runtime }}</p>
          </div>
      </div>
      
      <div class="extra-info">
          <div class="date__content__status">
              <mat-icon [@changeState]="item.seen ? 'expand_circle_down' : 'radio_button_unchecked'" (click)="toggleSeen(item)" [ngClass]="{'checked': item.seen}">
                  {{item.seen ? 'expand_circle_down' : 'radio_button_unchecked'}}
                </mat-icon>
          </div>
          <div class="date__content__liked">
              <mat-icon (click)="toggleLike(item)" [ngClass]="{'liked': item.liked}">
                  {{item.liked ? 'favorite' : 'favorite_border'}}
              </mat-icon>
          </div>
      </div>
</div>