<h2 class="add-date-title" *ngIf="isMoviePage; else elseBlock">Add a movie</h2>
<ng-template #elseBlock>
  <h2 class="add-date-title">Add a TV-series</h2>
</ng-template>
<form class="add-date-form" [formGroup]="dateForm" (ngSubmit)="onSubmit()">
    <mat-error *ngIf="titleNotFound">
        Title not found
      </mat-error>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-error *ngIf="dateForm.controls['title'].invalid && (dateForm.controls['title'].dirty || dateForm.controls['title'].touched)">
        Title is required
    </mat-error>
    <div class="add-date-buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="!dateForm.valid">Add</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
