<app-app-header></app-app-header>

<div class="dates-wrapper">
    <div class="date-interactions">
        <mat-toolbar>
            <mat-form-field>
            <mat-label>Sort by</mat-label>
            <mat-select (selectionChange)="sortData($event.value)">
                <mat-option value="title">Title</mat-option>
                <mat-option value="seen">Seen</mat-option>
                <mat-option value="liked">Liked</mat-option>
            </mat-select>
            </mat-form-field>
        </mat-toolbar>
      <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
    </div>
    
    <div class="dates" *ngIf="data && data.length > 0; else noData">
        <app-tv-info *ngFor="let item of data" [item]="item" [id]="item.id"></app-tv-info>
    </div>
    <ng-template #noData>
        <p>The database is in hibernation. Please contact the administrator of this website to re-enable it.</p>
    </ng-template>
</div>
<div *ngIf="!loaded">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="(!data || data.length === 0) && loaded">
    <p *ngIf="isMoviePage; else elseBlock">No movies available.</p>
    <ng-template #elseBlock>
        <p>No TV-series available.</p>
    </ng-template>
</div>